<div class="row">
  <div class="col-sm-4">
    <%= render "object/viewparts/single_obj_map" %>
  </div>
  <div class="col-sm-8">
    <h4> <%= @object.region %>, <%= @object.adress %> </h4>
    <h4> <%= @object.name %> </h4>
    <%= render "object/viewparts/teps" %>
  </div>
</div>
<%= render 'object/viewparts/additional_info' %>
<h3>Инженерная подготовка</h3>
<%= render "object/viewparts/ingeneer_statuses" %>
<h3>Финансы</h3>
<%= render "object/viewparts/objects_charts" %>
<h3>Торги</h3>
<%= render "object/viewparts/tenders" %>

<% @object.getVisitsInfo.each do |info| %>
    <%= info.parametr_name %>
<% end %>